nav{
    text-align: center;
    border: 1px solid grey;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 20px;
}
nav a {
    text-decoration: none;
    padding-right: 60px; 
}
img{
    height: 300px;
    width: 200px;
}
.imm{
    margin: 50px
    }
h1{
    text-align: center;
}
footer{
    text-align: left;
}
.pa{
    text-decoration: none;
}
